div.container{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form{
    width:40%;
}

h3{
    width: 40%;
}

@media (max-width:768px) {
    .form{
        width:100%;
    }
    h3{
        width:100%;
    }
}

.error-msg{
    font-size:12px;
    width:100%;
    color:red;
}

.custom-Input{
    margin-bottom: 10px;
}

.success-msg{
    width:100%;
    background-color: rgb(51, 161, 106);
    color:#fff;
    font-weight: 600;
}